.home {
    flex-direction: column;
    transition: opacity 2s ease-in-out;
    opacity: 0;
    width: 100%;
    font-family: 'Urbanist';
    color: aqua;
    padding-bottom: '10px';
    font-family: 'Signika Negative', 'IBM Plex Sans Hebrew';
  }
  
  .home.visible {
    opacity: 1;
  }
  
  .home.notVisable {
    opacity: 0;
  }

.homeGridItem.MuiGrid-root.MuiGrid-item{
    font-size: 1.2rem;
    overflow: hidden;
    background-color: #1E2423;
    border-radius: 16px;
    margin: 0 auto; 
border: 1px solid #967E68;    /* Adjust the border radius as needed */
}

.MuiGrid-root.MuiGrid-container{
    margin: 0 auto;
    padding: 0 0 0 0;
    font-size: 1.2rem;
    color: #000000;
    width: 100%;
  }

.MuiGrid-root.MuiGrid-container > .MuiGrid-root.MuiGrid-item {
  padding:5px 0px;
  margin-block: 3px;
  direction: rtl;
}

.homeGridItem.MuiGrid-root.MuiGrid-item >a {
  color:#967E68;
}


.engButton {
  font-weight: 300;
}