.home {
    background-color: #282c34;
    flex-direction: column;
    transition: opacity 2s ease-in-out;
    opacity: 0;
    width: 100%;
    font-family: 'Urbanist';
    color: aqua;
    padding-bottom: '10px';
    font-family: 'Urbanist', 'Varela Round';
  }
  
  .home.visible {
    opacity: 1;
  }
  
  .home.notVisable {
    opacity: 0;
  }