/*card2- wine card*/
.cardTwo {
  border: 2px solid #967E68;
  display: flex;
  border-radius: 15px;
  flex-direction: row !important;
  justify-content: space-between;
  margin-top: 1rem;
  height: 200px;
  position: relative;
  width: 100%;
  color: #ffffff;
  background-color: #121A1C;
  font-family: 'anisette-std', 'IBM Plex Sans Hebrew';
  text-transform: lowercase;
}

.card2-imageDiv {
  display: flex;
  flex: 4;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 1px solid #020202;
  border-radius: 15px;
  transition: transform 0.5s ease-in-out;
  padding: 1rem 1rem;
  background-color: #ffffff;
  height: 100%;
  width: 50%;
  right: 0;
}

.card2-imageDiv.slide {
  transform: translateX(-100%);
}

.card2image {
  height: 190px;
  width: 100%;
  border: #020202;
  border: transparent;
}

.card2-text {
  flex: 1;
  padding: 1rem;
}

.card2Content {
  display: flex;
  flex: 4;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem;
}

.card2-right {
  display: flex;
  flex: 4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  
}

.MuiButtonBase-root.linkWithoutSpace {
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
    border-radius: 16px!important;
    border: 1px solid #ffffff!important;
    background-color: #3c27c5;  
}

@media (hover: none){
  .MuiButtonBase-root.MuiButton-root.linkWithoutSpace:hover{
    background-color: #291e6f!important;
    color: #ffffff!important;
    border: 1px solid #ffffff!important;

}
}

.card2-titleDiv{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card2-title {  
  font-size: 1.4rem;
  margin-bottom: 0;
  font-family: 'anisette-std', 'IBM Plex Sans Hebrew';
  text-transform: lowercase;
  font-weight: 300;
}

.hebTitle{
  direction: rtl;
}

.card2-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiButtonBase-root.linkWithoutSpace{
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
    border-radius: 16px!important;
    border: 1px solid #000!important;
    background-color: #967E68;  
}

.priceDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.priceDiv>span {
  display: flex;
}

.BottlePrice {
  align-items: center;
}

.bottlePriceText{
  font-size: 1.2rem;
  margin: 0;
 }

.MuiSvgIcon-root.cardLogos {
  font-size: x-large;
}

.card2-Subtitle {
  font-size: 1rem;
  font-weight: 200;
}

.card2-subTitleDiv{
  display: flex;
  flex-direction: column;
}

.line{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1px;
  background-color: #967E68;
  margin-block: 0.4rem;
}

.card2-Subtitle.hebSubTitle{
  direction: rtl;
  font-weight: 400;
}

.card2-details {
  font-size: 1.4rem;
  width: 100%;

  /*delete this later for alternate view with flexes*/
  display: flex;
  flex-direction: row;
  align-items: center;

}

.card2-span {
  flex: 4;
  padding-inline: 5px;
  width: 40%;
  display: flex;
}

.card2-span.card2-leftText {
  justify-content: end;
}

.card2-span.card2-rightText {
  text-align: left;
  font-weight: 400;
}

.card2-blentText{
  text-align: center;
  display: flex;
  justify-content: center;
}

.infoIcon {
 z-index: 1;
 position: absolute;
 top: 5px;
  right: 5px;
  color: #000
}

.favoriteIcon {
  z-index: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  color: #444343
 }

 .favoriteIcon.isFavorite {
  color: #ff0000;
 }



@media screen and (max-width: 1200px) {
  .card2-text {
    padding: 0;
  }


}

@media screen and (max-width: 775px) {
  .cardTwo {
    height: 180px;
  }

  .card2image {
    height: 170px;
    border-radius: 15px;
  }

  .card2-text {
    padding: 0;
  }

  .card2-title {
    font-size: 1.2rem;
  }

  .card2-Subtitle {
    font-size: 0.75rem;
  }

  .card2-details {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-block: 0.2rem;
  }
}

@media screen and (max-width: 395px) {
  .cardTwo {
    height: 180px;
  }

  .card2-text {
    padding: 0;
  }

  .card2-title {
    font-size: 1.1rem;

  }

  .card2-Subtitle {
    font-size: 0.8rem;
  }

  .card2image {
    width: 100%;
    height: 170px;
    border-radius: 15px;
  }

  .card2-details {
    font-size: 0.8rem;
    line-height: 1.2;
    margin-block: 0.2rem;
  }
}

@media screen and (max-width: 335px) {
  .cardTwo {
    height: 180px;
  }

  .card2Content,
  .card2-right {
    width: 50%;
  }

  .MuiSvgIcon-root.cardLogos {
    font-size: x-large;
  }

  .card2-text {
    padding: 0;
  }

  .card2-title {
    font-size: 1rem;

  }

  .card2-Subtitle {
    font-size: 0.8rem;
  }

  .card2image {
    width: 100%;
    border-radius: 15px;
    padding: 2px;
  }
}