.winePageInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    padding-bottom: 20px;
    font-size: 1.2rem;
    color: #000000;
    text-align: center;
    overflow: hidden;
}



.DishPageImageDiv{
   justify-content: center;
}

.DishPageImage {
    height: 300px;
    width: 300px;
    border-radius: 15px;
}

.langIcon{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.languageIcon {
    display: flex;
    justify-content: center;
}

.languageIcon >* {
    margin: 0 0.5rem 0 0.5rem;
}

.descText{
    font-family: 'Signika Negative', 'IBM Plex Sans Hebrew';
    font-size: 1.5rem;
    color: #ffffff;
}

.descText >*{
    margin: 0.5rem 0 0.5rem 0;
}

.descDiv{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 95%;
    /* background-color: #1E2423; */
    border-radius: 15px;
    /* box-shadow: 0 0 3px #967E68; */
    margin: auto;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.hebDesc{
    direction: rtl;
}

.engDesc{
    direction: ltr;
}
/* 
@media (max-width: 420px) {

    .DishPageImage {
        height: 300px;
        width: 300px;
    }
    
} */

.wineInfo{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    width: 95%;
    background-color: #1E2423;
    border-radius: 15px;
    box-shadow: 0 0 5px #967E68;
    margin: auto;
    margin-top: 0.5rem;
}

.wineInfoText{
    flex: 4;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Signika Negative', 'IBM Plex Sans Hebrew';
    margin-top: auto;
    margin-bottom: auto;
}

.wineInfoSeperator{
    flex: 1;
    color: #ffffff;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
}

.wineInfoText.left{
    text-align: right;
    font-weight: 400;
    font-size: 17px ;

}

.wineInfoText.right{
    text-align: left;
    font-weight: 300;
}
