.wineCategory{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    background-color: #1F2322;
    padding: 10px;
    font-size: medium;
    font-family: 'Urbanist', 'Varela Round';
    color: #917F6B;
    border-radius: 15px;
    box-shadow: 0 0 5px #917F6B;
    margin-top: 1rem;
    justify-content: center;
}

.MuiButtonBase-root.resetButton{
background-color: #917F6B;

}


.MuiButtonBase-root.resetButton:hover { 
    background-color: #917F6B;
    box-shadow: 0 0 10px #000;
}