/*card2- wine card*/
.cardTwo {
  border: 1px solid #020202;
  display: flex;
  border-radius: 15px;
  flex-direction: row !important;
  justify-content: space-between;
  margin-top: 10px;
  height: 200px;
  position: relative;
  width: 100%;
  color: aqua;
}

.card2-imageDiv {
  display: flex;
  flex: 4;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 1px solid #020202;
  border-radius: 15px;
  transition: transform 0.5s ease-in-out;
  padding: 1rem 1rem;
  background-color: #ffffff;
  height: 100%;
  width: 50%;
  right: 0;
}

.card2-imageDiv.slide {
  transform: translateX(-100%);
}

.card2image {
  height: 195px;
  width: 100%;
  border: #020202;
  border: transparent;
}

.card2-text {
  flex: 1;
  padding: 1rem;
}

.card2Content {
  display: flex;
  flex: 4;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem;
}

.card2-right {
  display: flex;
  flex: 4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root.linkWithoutSpace {
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
    border-radius: 16px!important;
    border: 1px solid #ffffff!important;
    background-color: #3c27c5;  
}

@media (hover: none){
.css-1knaqv7-MuiButtonBase-root-MuiButton-root:hover{
    background-color: #3c27c5!important;
    color: #ffffff!important;
    border: 1px solid #ffffff!important;

}
}

.card2-title {
  font-size: 2.2rem;
  margin-bottom: 0;
}

.card2-button {
  display: flex;
  justify-content: center;
  align-items: center;

}

.priceDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.priceDiv>* {
  margin-inline: 5px;
  display: flex;
}

.BottlePrice {
  align-items: center;
}

.css-i4bv87-MuiSvgIcon-root.cardLogos {
  font-size: xx-large;
}

.card2-Subtitle {
  font-size: 1.4rem;
  line-height: 1;

}

.card2-details {
  font-size: 1.4rem;
  width: 100%;

  /*delete this later for alternate view with flexes*/
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card2-span {
  flex: 4;
  padding-inline: 5px;
  width: 40%;
  display: flex;
}

.card2-span.card2-leftText {
  justify-content: end;
}

.card2-span.card2-rightText {
  justify-content: start;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .card2-text {
    padding: 0;
  }

  .card2-title {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 775px) {
  .cardTwo {
    height: 180px;
  }

  .card2image {
    height: 175px;
    border-radius: 15px;
  }

  .card2-text {
    padding: 0;
  }

  .card2-title {
    font-size: 1.3rem;
  }

  .card2-Subtitle {
    font-size: 0.8rem;
  }

  .card2-details {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-block: 0.2rem;
  }
}

@media screen and (max-width: 395px) {
  .cardTwo {
    height: 180px;
  }

  .card2-text {
    padding: 0;
  }

  .card2-title {
    font-size: 1.1rem;

  }

  .card2-Subtitle {
    font-size: 0.8rem;
  }

  .card2image {
    width: 100%;
    border-radius: 15px;
  }

  .card2-details {
    font-size: 1rem;
    line-height: 1.2;
    margin-block: 0.2rem;
  }
}

@media screen and (max-width: 335px) {
  .cardTwo {
    height: 180px;
  }

  .card2Content,
  .card2-right {
    width: 50%;
  }

  .css-i4bv87-MuiSvgIcon-root.cardLogos {
    font-size: x-large;
  }

  .card2-text {
    padding: 0;
  }

  .card2-title {
    font-size: 1rem;

  }

  .card2-Subtitle {
    font-size: 0.8rem;
  }

  .card2image {
    width: 100%;
    border-radius: 15px;
    padding: 2px;
  }
}