.App {
  text-align: center;
  font-family: 'Urbanist', 'Rubik';
}

/*scrollbar styling*/

::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #121A1C;
  /* Background of the scrollbar track */
  position: relative;

}

::-webkit-scrollbar-thumb {
  background: #967E68;
  /* Background of the scrollbar thumb */
  border-radius: 16px;
  /* Roundness of the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #967E68;
  /* Background of the scrollbar thumb when hovered */
}







/*card styling*/

.css-1knaqv7-MuiButtonBase-root-MuiButton-root.goToButton {
  margin: auto;
  position: relative;
  top: 25px
}


/* navbar styling */
.navbar {
  top: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  padding: 0px 15px;
}

.css-1hvnmzf-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #F1ECE6;
}

@media (max-width: 320px) {
  .navbar {
    width: 100% !important;
  }
}

.navbar-brand {
  margin: 0;
}

.navbarToggle {
  border-width: 0;
  padding-right: 0;
  margin-right: 0;
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

.toggleIcon {
  color: #080808;
}

.MuiSvgIcon-root.toggleIcon {
  font-size: xxx-large;
}

@media screen and (max-width: 768px) {
  .MuiSvgIcon-root.toggleIcon {
    font-size: xx-large;
  }

}

.navbarToggle.collapsed {
  border-width: 0;
  padding-right: 0;
  margin-right: 0;

  .toggleIcon {
    color: #888;

  }

}

button:focus {
  outline: none;
}

.bg-light {
  background-color: #F1ECE6 !important;
}

.navbar-nav .nav-link {
  transition: opacity 2 ease-in-out;
}

.navbar-light .navbar-nav .nav-link {
  color: #0d0d0d;
  font-size: 20px;
  font-family: 'Urbanist', 'Rubik';
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #967E68;
  /* Change to your desired link color */
}

.navbar-light .navbar-nav .nav-link.active-link {
  color: #050505;
  font-weight: 700;
  /* Change to your desired link color */
}

.nav-link {
  font-family: 'Signika Negative', 'Rubik';
  font-size: 1.2em;
  color: #61dafb;
  transition: opacity 2 ease-in-out;
}

.App-logo {
  /*app logo should be center screen*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  pointer-events: none;
}

/* .App-footer{
  background-color: #F1ECE6;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  padding: 0px 15px;
  position: relative;
  bottom: 0;
} */

/* app logo should be center screen 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
} */



/*--------------------- Fade in for pages when routing--------------------- */
.fade-in-element {
  opacity: 0;
  transition: opacity 3s ease-in-out;
  /**/
}

.fade-in-element.visible {
  opacity: 1;
}

.fade-in-element.notVisable {
  opacity: 0;
}

.home {
  align-items: center;
  justify-content: center;
  align-content: center;
  align-content: center;
  transition: opacity 3s ease-in-out;

  .navbar-brand {
    margin: 0;
  }

  .bg-light {
    background-color: #F1ECE6 !important;
  }

  .navbar-nav .nav-link {
    transition: opacity 2 ease-in-out;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #0d0d0d;
  }



  .nav-link {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5em;
    color: #61dafb;
    transition: opacity 2 ease-in-out;
  }

  .searchBar {
    margin-bottom: 50px;
    width: 100%;
  }


  /* <---------- for the x button in searchbar ----------> */
  .clearButton {
    color: #1E2423;
    background-color: transparent;
    position: relative;
    bottom: 42px;
    left: 5%;
    /* background-color: #1E2423; */
    border-radius: 16px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .App-logo {
    /*app logo should be center screen*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    pointer-events: none;
  }

  .fade-in-element {
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }

  .fade-in-element.visible {
    opacity: 1;
  }

  .fade-in-element.notVisable {
    opacity: 0;
  }

  .home {
    align-items: center;
    justify-content: center;
    align-content: center;
    align-content: center;
    transition: opacity 3s ease-in-out;
    flex-direction: unset;
    /* Turn off flex direction */
  }

  .flex-grow {
    flex-grow: 1;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .home.visible {
    opacity: 1;
  }

  .home.notVisable {
    opacity: 0;
  }

  img {
    border-radius: 16;
  }

  @media (prefers-reduced-motion: no-preference) {
    /* Media query styles */
  }

  flex-grow: 1;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  ;
}

.home.visible {
  opacity: 1;
}

.home.notVisable {
  opacity: 0;
}

img {
  border-radius: 16;
}


@media (prefers-reduced-motion: no-preference) {}

.App-Body {
  background-image: url('./Images/BackgroungImage_Final.png');
  background-color: #121A1C;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

/* <-------------------  CSS for the SearchBar -------------------> */
.searchBar {
  margin-bottom: 50px;
  width: 100%;
}

.textInput {
  background-color: #967E68 !important;
  width: 100%;
  border-radius: 16px;
  text-decoration: none;
  text-transform: none;
}

.searchInput {
  margin-block: 10px;
  border-radius: 16px !important;
}

.inputProps {
  color: white;
  border-radius: 16px;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  border-radius: 16px;
}

/*Label for dropdown styling*/

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #F1ECE6;
}

.MuiFormLabel-root.MuiInputLabel-root.hebInputLabel {
  direction: rtl;
}

/* .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #F1ECE6;
  font-family: 'Urbanist';
} */


.center-placeholder input {
  text-align: center;
  color: #F1ECE6;
}


/*label style when there is text and not focused*/
/* .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
  color: #F1ECE6;
  font-family: 'Urbanist';
} */

/*label style when there is text and focused*/
/* .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused.inputLabel {
  color: #F1ECE6;
  font-family: 'Urbanist';
} */

.css-1d3z3hw-MuiOutlinedInput-notchedOutline.inputStyle {
  border-width: 0
}

.MuiGrid-root.dishgridView {
  margin: auto;
  justify-content: space-between;
}

.muicard-root {
  display: flex;
  flex-direction: column;
}

/* <-------------------  CSS for the Scroll To Top -------------------> */
.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 100px;
  width: 100px;
  background-color: #967E68;
  z-index: 1000;
  border-radius: 50px;
  box-shadow: 0 0 15px #d6bc9e;
}

.MuiSvgIcon-root.scrollToTop {
  font-size: xxx-large;
  /*add border shadow*/
  display: flex;
}

@media screen and (max-width: 650px) {
  .MuiSvgIcon-root.scrollToTop {
    font-size: xx-large;
  }

}


/* <-------------------  CSS for the ageDialog -------------------> */

.dialogContainerHeb {
  direction: rtl;
}

.dialog>* {
  font-family: 'anisette-std', 'Rubik';
}

.MuiDialogTitle-root.dialogTitle {
  font-family: 'anisette-std', 'Rubik';
  text-transform: lowercase;
}

.MuiDialogTitle-root.dialogTitle.hebTitle {
  direction: rtl;
  text-align: right;
}

.MuiButtonBase-root.MuiButton-root.dialogButton {
  font-family: 'anisette-std', 'Rubik';
  font-size: 15px;
  text-transform: lowercase;
  text-decoration: underline;
  color: #050505;
}

.dialogText.MuiDialogContentText-root {
  font-family: 'anisette-std', 'Rubik';
  text-transform: lowercase;
  font-size: 17px;
}

.dialogText.MuiDialogContentText-root.hebText {
  direction: rtl;
  text-align: right;
}

.MuiPaper-root.MuiDialog-paper {
  background-color: #6a410e;
}