.App {
  text-align: center;
  font-family: 'Urbanist', 'Varela Round';
}

/*scrollbar styling*/

::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

/* ::-webkit-scrollbar-track {
  background: #282c34; /* Background of the scrollbar track 
position: relative;
} */

::-webkit-scrollbar-thumb {
  background: #888;
  /* Background of the scrollbar thumb */
  border-radius: 16px;
  /* Roundness of the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #3c27c5;
  /* Background of the scrollbar thumb when hovered */
}


p {
  font-size: 1.5em;
  color: #61dafb;
  font-family: 'Urbanist', sans-serif;
}

.grid-item {
  border-radius: 16px;
  /* Adjust the border radius as needed */
  margin: 0 auto;
}


/*card styling*/

.css-1knaqv7-MuiButtonBase-root-MuiButton-root.goToButton {
  margin: auto;
  position: relative;
  top: 25px
}


/* navbar styling */
.navbar {
  top: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  padding: 0px 15px;
}

.css-1hvnmzf-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #ffffff;
}

@media (max-width: 320px) {
  .navbar {
    width: 100% !important;
  }
}

.navbar-brand {
  margin: 0;
}

.navbarToggle{
  border-width: 0; padding-right: 0; margin-right: 0;
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

.toggleIcon{
  color: #080808;
}

.MuiSvgIcon-root.toggleIcon {
  font-size: xxx-large;
}

@media screen and (max-width: 768px) {
  .MuiSvgIcon-root.toggleIcon {
    font-size: xx-large;
  }
  
}

.navbarToggle.collapsed {
  border-width: 0; padding-right: 0; margin-right: 0;

  .toggleIcon{
color: #888;

  }

}

button:focus {
  outline: none;
}

.bg-light {
  background-color: #ffffff !important;
}

.navbar-nav .nav-link {
  transition: opacity 2 ease-in-out;
}

.navbar-light .navbar-nav .nav-link {
  color: #0d0d0d;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #917F6B;
  /* Change to your desired link color */
}

.navbar-light .navbar-nav .nav-link.active-link {
  color: #050505;
  font-weight: bold;
  /* Change to your desired link color */
}

.nav-link {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.5em;
  color: #61dafb;
  transition: opacity 2 ease-in-out;
}

.App-logo {
  /*app logo should be center screen*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  pointer-events: none;
}

/* .App-footer{
  background-color: #ffffff;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  padding: 0px 15px;
  position: relative;
  bottom: 0;
} */

/* app logo should be center screen 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
} */

/*Fade in for pages when routing*/
.fade-in-element {
  opacity: 0;
  transition: opacity 3s ease-in-out;
  /**/
}

.fade-in-element.visible {
  opacity: 1;
}

.fade-in-element.notVisable {
  opacity: 0;
}

.home {
  align-items: center;
  justify-content: center;
  align-content: center;
  align-content: center;
  transition: opacity 3s ease-in-out;

  .navbar-brand {
    margin: 0;
  }

  .bg-light {
    background-color: #ffffff !important;
  }

  .navbar-nav .nav-link {
    transition: opacity 2 ease-in-out;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #0d0d0d;
  }



  .nav-link {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5em;
    color: #61dafb;
    transition: opacity 2 ease-in-out;
  }

  .searchBar {
    margin-bottom: 50px;
    width: 100%;
  }


  .App-logo {
    /*app logo should be center screen*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    pointer-events: none;
  }

  .fade-in-element {
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }

  .fade-in-element.visible {
    opacity: 1;
  }

  .fade-in-element.notVisable {
    opacity: 0;
  }

  .home {
    align-items: center;
    justify-content: center;
    align-content: center;
    align-content: center;
    transition: opacity 3s ease-in-out;
    flex-direction: unset;
    /* Turn off flex direction */
  }

  .flex-grow {
    flex-grow: 1;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .home.visible {
    opacity: 1;
  }

  .home.notVisable {
    opacity: 0;
  }

  img {
    border-radius: 16;
  }

  @media (prefers-reduced-motion: no-preference) {
    /* Media query styles */
  }

  flex-grow: 1;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  ;
}

.home.visible {
  opacity: 1;
}

.home.notVisable {
  opacity: 0;
}

img {
  border-radius: 16;
}


@media (prefers-reduced-motion: no-preference) {}

.App-Body {
  background-color: #121A1C;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* <-------------------  CSS for the SearchBar -------------------> */
/* searchBar styling */
.searchBar {
  margin-bottom: 50px;
  width: 100%;
}

.textInput {
  background-color: #917F6B;
  width: 100%;
  border-radius: 16px;
}

.searchInput {
  margin-block: 1rem;
  font-family: 'Urbanist';
  border-radius: 16px!important;
}

.inputProps {
  color: white;
  font-family: 'Urbanist', sans-serif;
  border-radius: 16px;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  border-radius: 16px;
}

/*Label styling*/

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #ffffff;
  font-family: 'Urbanist';
}

/* .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #ffffff;
  font-family: 'Urbanist';
} */


.center-placeholder input {
  text-align: center;
  color: #ffffff;
}


/*label style when there is text and not focused*/
/* .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
  color: #ffffff;
  font-family: 'Urbanist';
} */

/*label style when there is text and focused*/
/* .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused.inputLabel {
  color: #ffffff;
  font-family: 'Urbanist';
} */

.css-1d3z3hw-MuiOutlinedInput-notchedOutline.inputStyle {
  border-width: 0
}



.MuiGrid-root.dishgridView {
  margin: auto;
  justify-content: space-between;
}


.muicard-root {
  display: flex;
  flex-direction: column;
}


/* <-------------------  CSS for the drop down menu -------------------> */
.menuItem {
  font-family: 'Urbanist';
  font-size: 1.5em;
  color: #61dafb;
  transition: opacity 2 ease-in-out;
  background-color: #3522AD;
}

.MuiMenuItem-root.menuItem {
  font-family: 'Urbanist';
  font-size: 1em;
  color: #ffffff;
}

.MuiButtonBase-root.Mui-selected.menuItem {
  z-index: 1;
  font-family: 'Urbanist';
  font-size: 1.2em;
  background-color: #9b8f81;
}

.MuiList-root.MuiMenu-list {
  background-color: #917F6B;
  border-radius: 16px;
}

#search-bar-label {
  color: #ffffff;
  font-family: 'Urbanist';
}

#demo-simple-select-label {
  color: #ffffff;
  font-family: 'Urbanist';
}

.MuiPaper-root.MuiPopover-paper {
  background-color: transparent;
  border-radius: 16px;
  margin-top: 1px;
}

/*reset button*/
.resetButtonDiv {
  display: flex;
  margin-top: 10px;
  justify-content: flex-start;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root.resetButton {
  color: white;
  font-family: 'Urbanist';
  font-size: 1.5em;
  border-radius: 16px;
  margin: 1rem;
  background-color: '#3c27c5';
  border-radius: '16px!important';
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root.resetButton:hover {
  background-color: #a52b2b;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #fff !important;
}
  


/*DishPage*/
.DishPageWineText {
  direction: rtl;
}

.DishPageImage {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.CategoryDivLeft{
  flex:4;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
  margin-inline: 1rem;
}

.CategoryDivRight{
  flex:4;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50%;
  margin-inline: 1rem;
}